<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="id.global.indy.sdk.android.test">

    <!-- WRITE_EXTERNAL_STORAGE is need for indy-sdk(libindy) -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application />

</manifest>
